<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Eliminar Libro</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
<div class="container mt-5">

<div class="card p-4 text-center shadow">
<h3 class="text-danger">¿Eliminar Libro?</h3>

<p>¿Seguro deseas eliminar <strong>{{ object.titulo }}</strong>?</p>

<form method="post">
{% csrf_token %}
<button class="btn btn-danger">Eliminar</button>
<a href="{% url 'lista_libros' %}" class="btn btn-secondary">Cancelar</a>
</form>

</div>
</div>
</body>
</html>